
{% extends "base_generic.html" %}
{% block content %}
    <div class="row">
    <h1 class="col-8 m-3">Cart</h1>
    <h1 class="col m-3 justify-content-end">Total: <span style="color: #ffd670">{{ total }} ден.</span> </h1>
    </div>

      <div class="card-deck">
          {% for product in products %}
               <a href="{% url 'product-details' product.id %}" style="text-decoration: none;color: inherit;">
          <div class="card m-3" style="flex-direction: column;display: inline-block;height:fit-content;border-width: 0px">
            <img style="width: 200px;height: 250px"  src="{{  product.images.first.image.url }}" class="card-img-top rounded-img" alt="Item 1">
            <div class="card-body">
              <h5 class="card-title m-0">{{ product.shop }}</h5>
              <p class="card-text m-0">{{ product.size }}</p>
              <p class="card-text card-price m-0">{{ product.price }} ден.</p>
              <p class="card-text m-0">{{ product.description }}</p>
                {% if product in favorites %}
                <form method="POST" action="{% url 'remove_from_favorites' %}" style="display: inline-block; padding-right:5px ">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" name="id">
                <button type="submit" class="card-text justify-content-end" style="all: unset;">
                    <span style="font-size: 1.2em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </span>
                    </button>
                </form>
                {% else %}
                    <form method="POST" action="{% url 'add_to_favorites' %}" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" name="id">
                <button type="submit" class="card-text justify-content-end" style="all: unset;"><span style="font-size: 1.2em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    </span>
                    </button>
                </form>
                {% endif %}
                {% if product in cartItems %}
                <form method="POST" action="{% url 'remove_from_cart' %}" style="display: inline-block">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" name="id">
                <button type="submit" class="card-text justify-content-end" style="all: unset;">
                    <span style="font-size: 1.2em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
                        </svg>
                    </span>
                    </button>
                </form>
                {% else %}
                    <form method="POST" action="{% url 'add_to_cart' %}" style="display: inline-block">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" name="id">
                <button type="submit" class="card-text justify-content-end" style="all: unset;"><span style="font-size: 1.2em;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                            <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </span>
                    </button>
                </form>
                {% endif %}
            </div>
          </div>
               </a>
          {% endfor %}
        </div>
        <div >
        {% if num != 0 %}
            <form method="Get" action="{% url 'payment' %}">
                    {% csrf_token %}
                <div>
                    <button class="btn add-product-btn mt-3 float-end" style="font-size: larger;font-weight:bold;color: #79b9a8">Check out</button>
                </div>
            </form>
        {% endif %}
        </div>

{% endblock %}