{% extends "base_generic.html" %}
{% block content %}

    <div class="card m-3" style="border-width:0px">
        <img height="100%" width="40%" src="{{ product.images.first.image.url }}" class="card-img-left rounded-img"
             alt="Item 1">
        <div class="card-body">
            <h1 class="card-title">{{ product.shop }}</h1>
            <h2 class="card-text">{{ product.size }}</h2>
            <h2 class="card-text card-price">{{ product.price }} ден.</h2>

            <div class="row">
                <div class="col">
                    <h1>Delivery Info</h1>
                    <h3 class="card-title" style="font-weight: normal">Address: {{ delivery.address}}</h3>
                    <h3 class="card-text" style="font-weight: normal">City: {{ delivery.city }}</h3>
                    <h3 class="card-text" style="font-weight: normal">Phone: {{ delivery.phone }}</h3>
                    <h3 class="card-text" style="font-weight: normal">Postal: {{ delivery.postal }}</h3>

                    </div>
            </div>


        </div>
    </div>
    <div class="nav-item" style="padding-top: 8px;padding-left: 6px">
    <h2>Ordered By:</h2>
        <a href="{% url 'profile' userBought.id %}" style="text-decoration: none;color: inherit;">
            {% if userBought.image %}
                <img class="rounded-circle m-3" width="50" height="50" alt="avatar1" src="{{ userBought.image.url }}"/>
                <span style="font-size: larger">{{ userBought.username }}</span>
            {% else %}
                <img class="rounded-circle m-3" width="50" height="50" alt="avatar1"
                     src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"/>
                <span style="font-size: larger">{{ userBought.username }}</span>
            {% endif %}
        </a>
    </div>
{% endblock %}