<style>
    .container .profile{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
        color: #79b9a8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.link-wrapper {
    display: inline-block;
    margin-right: 10px;
  }
.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  flex: 1;
  text-align: center;
}
</style>

{% extends "base_generic.html" %}
{% block content %}

    <div class="row">
        <div class="col">
            <div class="nav-item" style="padding-top: 8px;padding-left: 6px">
                <a>
                    {% if userProfile.image %}
                        <img class="rounded-circle m-3" width="50" height="50" alt="avatar1"
                             src="{{ userProfile.image.url }}"/>
                        <div class="m-3" style="display: inline">
                            <span style="font-size: 1.5em">{{ userProfile.first_name }}</span>
                            <span style="font-size: 1.5em">{{ userProfile.last_name }}</span>
                        </div>
                    {% else %}
                        <img class="rounded-circle m-3" width="50" height="50" alt="avatar1"
                             src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"/>
                        <div class="m-3" style="display: inline">
                            <span style="font-size: 1.5em">{{ userProfile.first_name }}</span>
                            <span style="font-size: 1.5em">{{ userProfile.last_name }}</span>
                        </div>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
            <div class="col-md-4 m-3 ms-auto">
                <a href="/logout" class="btn add-product-btn float-end" style="font-size: larger;color: #79b9a8">Log
                    Out</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% if userProfile == logged_in %}
    <div class="container profile mb-3" >
        <div class="header">
            <h3>Buying</h3>
            <h4>

                <a href="/all_bought" style="text-decoration: none;color: inherit;">all bought
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a>

            </h4>
        </div>
        <div class="links m-3">
            <a href="/for_sending">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8" class="bi bi-box"
                     viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                </svg>
            </a>

            <a href="/sent">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8" class="bi bi-truck"
                     viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </a>
            <a href="/arrived">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8" class="bi bi-dropbox"
                     viewBox="0 0 16 16">
                    <path d="M8.01 4.555 4.005 7.11 8.01 9.665 4.005 12.22 0 9.651l4.005-2.555L0 4.555 4.005 2 8.01 4.555Zm-4.026 8.487 4.006-2.555 4.005 2.555-4.005 2.555-4.006-2.555Zm4.026-3.39 4.005-2.556L8.01 4.555 11.995 2 16 4.555 11.995 7.11 16 9.665l-4.005 2.555L8.01 9.651Z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="container profile">
        <div class="header">
            <h3>Selling</h3>
            <h4>
                <a href="/all_sold" style="text-decoration: none;color: inherit;">all sold
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8"
                         class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                    </svg>
                </a></h4>
        </div>
        <div class="links m-3">
            <a href="/sold">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8"
                         class="bi bi-cash" viewBox="0 0 16 16">
                        <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                        <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
                </svg>
            </a>
            <a href="/sent_2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8"
                         class="bi bi-truck" viewBox="0 0 16 16">
                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </a>
            <a href="/accepted">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#79b9a8"
                         class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>
        </div>
    </div>
    {% endif %}
    <div>
        <nav class="navbar navbar-light bg-light menu rounded mt-3">
            <div class="container-fluid">
                <span class="navbar-brand" style="font-weight: bold;color: #79b9a8" href="#">Users Products</span>
            </div>
        </nav>
        <div class="card-deck">
            {% for product in products %}
                <a href="{% url 'product-details' product.id %}" style="text-decoration: none;color: inherit;">
                    <div class="card m-3"
                         style="flex-direction: column;display: inline-block;height:fit-content;border-width: 0px">
                        <img src="{{ product.images.first.image.url }}" style="width: 200px;height: 250px" class="card-img-top rounded-img" alt="Item 1">
                        <div class="card-body">
                            <h5 class="card-title m-0">{{ product.shop }}</h5>
                            <p class="card-text m-0">{{ product.size }}</p>
                            <p class="card-text card-price m-0">{{ product.price }} ден.</p>
                            <p class="card-text m-0">{{ product.description }}</p>

                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
    <div style="margin-bottom: 5%">
        <nav class="navbar navbar-light bg-light menu rounded mt-3">
            <div class="container-fluid">
                <span class="navbar-brand me-auto" style="font-weight: bold;color: #79b9a8">Comments</span>
            </div>
        </nav>
    {% if user.is_authenticated %}
    {% if userProfile != logged_in %}
    <div class="rounded m-3" style="color: #79b9a8;background-color: white">
        <form method="POST" action="{% url 'add_comment' %}" style="padding: 20px" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ userProfile.id }}">
            <input class="form-control" name="text" type="text">
            <button class="btn m-3 p-3 ms-auto" type="submit" style="font-size: larger;background-color: #ecc3ad;color: #79b9a8;font-weight:bold">Add</button>
        </form>
    </div>
    {% endif %}
    {% endif %}
        <div class="card-deck">
            {% for comment in comments %}
                <div class="rounded m-3" style="color: #79b9a8;background-color: white">
                <a href="{% url 'profile' comment.userFrom.id %}" style="text-decoration: none;color: inherit;">
                {% if comment.userFrom.image %}
                        <img class="rounded-circle m-3" width="50" height="50" alt="avatar1"
                             src="{{ comment.userFrom.image.url }}"/>
                        <div class="m-3" style="display: inline">
                            <span style="font-size: 1.5em">{{ comment.userFrom.username }}</span>
                        </div>
                    {% else %}
                        <img class="rounded-circle m-3" width="50" height="50" alt="avatar1"
                             src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"/>
                        <div class="m-3" style="display: inline">
                            <span style="font-size: 1.5em">{{ comment.userFrom.username }}</span>
                        </div>
                    {% endif %}
                </a>
                <span style="height: 130%">|</span>
                <span class="m-3" style="font-size: 1.5em">{{ comment.text }}</span>
                {% if user.is_authenticated %}
                {% if comment.userFrom == logged_in %}
                <form method="POST" action="{% url 'delete_comment' %}" style="padding: 20px" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ comment.id }}">
                    <input type="hidden" name="user" value="{{ userProfile.id }}">
                    <button class="btn m-3 p-3 ms-auto" type="submit" style="font-size: larger;background-color: #ecc3ad;color: #79b9a8;font-weight:bold">Delete</button>
                </form>
                {% endif %}
                {% endif %}
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}